version: "3.9"

services:
#  eregold-backend:
#    build: ./backend
#    container_name: eregold-backend
#    ports:
#      - 8080:8080
#    volumes:
#      - ./backend:/app
#    networks:
#      - eregold-network

  eregold-frontend:
    build: ./frontend
    container_name: eregold-frontend
    ports:
      - 4200:4200
    volumes:
      - ./frontend:/app
    networks:
      - eregold-network

  eregold-db:
    image: postgres:14.0-alpine
    container_name: eregold-db
    environment:
      POSTGRES_DB: eregold_db
      POSTGRES_USER: eregold_user
      POSTGRES_PASSWORD: eregold_pass
    ports:
      - "2345:5432"
    volumes:
      - ./database/data-dump/volume:/var/lib/postgresql/data/
    networks:
      - eregold-network

networks:
  eregold-network:
    driver: bridge
