<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.digitalcrafting.arkenstone.transactionVerification.repository.accounts.AccountsMapper">
    <resultMap id="AccountEntityMap"
               type="org.digitalcrafting.arkenstone.transactionVerification.repository.accounts.AccountEntity">
    </resultMap>

    <select id="getByAccountNumber" parameterType="java.lang.String" resultMap="AccountEntityMap">
        SELECT *
        FROM accounts
        WHERE account_number = #{accountNumber}
    </select>

    <insert id="insertAccount" parameterType="org.digitalcrafting.arkenstone.transactionVerification.repository.accounts.AccountEntity">
        INSERT INTO accounts (account_number, account_name, current_balance, available_balance, currency, type)
        VALUES (#{accountNumber}, #{accountName}, #{currentBalance}, #{availableBalance}, #{currency}, #{type})
    </insert>

    <update id="updateAccountBalance">
        UPDATE accounts
        SET current_balance = #{balance}, available_balance = #{balance}
        WHERE account_number = #{accountNumber}
    </update>
</mapper>