<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.digitalcrafting.arkenstone.transactionVerification.repository.accounts.AccountsMapper">
    <resultMap id="AccountEntityMap"
               type="org.digitalcrafting.arkenstone.transactionVerification.repository.accounts.AccountEntity">
    </resultMap>

    <select id="getByAccountNumber" parameterType="java.lang.String" resultMap="AccountEntityMap">
        SELECT *
        FROM accounts
        WHERE account_number = #{accountNumber}
    </select>

    <update id="updateAccountBalance" parameterType="org.digitalcrafting.arkenstone.transactionVerification.repository.accounts.AccountEntity">
        UPDATE accounts
        SET current_balance = #{currentBalance}, available_balance = #{availableBalance}
        WHERE account_number = #{accountNumber}
    </update>
</mapper>