/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body {
  background-color: RGB(217, 217, 217) !important;
}

.float-right {
  float: right;
}